<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tarefasmob">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TarefasMob">
        <activity
            android:name=".tarefa4conversaoR"
            android:exported="false" />
        <activity
            android:name=".tarefa4exerc2"
            android:exported="false" />
        <activity
            android:name=".tarefa4"
            android:exported="false" />
        <activity
            android:name=".tarefa2exercicio2e2"
            android:exported="false" />
        <activity
            android:name=".tarefa2exercicio2"
            android:exported="false" />
        <activity
            android:name=".tarefa1e2"
            android:exported="false" />
        <activity
            android:name=".tarefa2e2"
            android:exported="false" />
        <activity
            android:name=".tarefa2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>